<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anchor & Braille Fan Page</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>I &#x2661 Anchor and Braille</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about" class="this">About</a>
      <a href="/discography">Discography</a>
      <a href="/tour">Tour Dates</a>
    </nav>
    <article>
      <img src="images/band.jpg">
      <h3>Stephen (left)</h3>
      <p>Stephen's style has influenced such icons as James Dean, The Fonz, Stephan Urquelle, and Prince. When he's not writing songs that melt the coldest hearts, he's working on a cure for polio.</p>
      <h3>Micah (center)</h3>
      <p>Micah has a voice given to him by angels. When he sings, audible rolls of Charmin Ultra Soft come out of his mouth and soothe the ears of his listeners.</p>
      <h3>Dorian (right)</h3>
      <p>Dorian has beautiful hair and a picture of himself that shows his true self. His picture is full of rainbow, unicorns and kittens.</p>
    </article>
    <footer>
      <small>(c)2014 <strong>bchiatt<strong></small>
    </footer>
  </body>
</html>
