<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anchor & Braille Fan Page</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>I &#x2661 Anchor and Braille</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/discography" class="this">Discography</a>
      <a href="/tour">Tour Dates</a>
    </nav>
    <article>
      <a class="disc" href="http://www.amazon.com/Felt-Anchor-Braille/dp/B009Y6XREC/ref=sr_1_2?s=dmusic&ie=UTF8&qid=1406602545&sr=1-2&keywords=anchor+%26+braille"><img src="images/felt.jpg"></a>
      <ul>
        <li> Rust (The Short Story of Mary Agnosia)</li>
        <li> Like Steps in a Dance</li>
        <li> Blur</li>
        <li> Introspect</li>
        <li> Summer Tongues</li>
        <li> Calm, Calm, Calm Yourself</li>
        <li> Wedding / Funeral</li>
        <li> Sleep. When We Die.</li>
        <li> Forget Love, I just Want You to Make Sense</li>
        <li> Sing Out</li>
        <li> Sheet Music / Sheet Music</li>
      </ul>
      <br>
      <a class="disc" href="http://www.amazon.com/Quiet-Life-Anchor-Braille/dp/B008JB7YCY/ref=sr_1_4?s=dmusic&ie=UTF8&qid=1406602684&sr=1-4&keywords=quiet+life"><img src="images/quiet.jpg"></a>
      <ul>
        <li> Goes Without Saying</li>
        <li> Knew Then Know Now</li>
        <li> Find Me</li>
        <li> In With the New</li>
        <li> If Not Now, When</li>
        <li> Kodachrome</li>
        <li> Collapse</li>
        <li> Hymn for Her</li>
        <li> Everybody Here Wants You</li>
        <li> Before I Start Dreaming</li>
      </ul>
    </article>
    <footer>
      <small>(c)2014 <strong>bchiatt<strong></small>
    </footer>
  </body>
</html>
