<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anchor & Braille Fan Page</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>I &#x2661 Anchor and Braille</h1>
    <nav>
      <a href="/" class="this">Home</a>
      <a href="/about">About</a>
      <a href="/discography">Discography</a>
      <a href="/tour">Tour Dates</a>
    </nav>
    <article>
      <iframe width="853" height="480" src="//www.youtube.com/embed/MMZ8M3IA1YI?list=UUmotocouco4AD1dVwiAqrtg" frameborder="0" allowfullscreen></iframe>
    </article>
    <footer>
      <small>(c)2014 <strong>bchiatt<strong></small>
    </footer>
  </body>
</html>
