<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Anchor & Braille Fan Page</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>I &#x2661 Anchor and Braille</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/discography">Discography</a>
      <a href="/tour" class="this">Tour</a>
    </nav>
    <article>
      <table>
        <thead>
          <tr>
            <th colspan="2">Tour Dates</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Wednesday 06 August 2014</td>
            <td>Fairfield Theatre, Fairfield, CT, US</td>
          </tr>
          <tr>
            <td>Friday 08 August 2014</td>
            <td>Brighton Music Hall, Allston, MA, US</td>
          </tr>
          <tr>
            <td>Monday 11 August 2014</td>
            <td>The Bowery Ballroom, NY, NY, US</td>
          </tr>
          <tr>
            <td>Wednesday 13 August 2014</td>
            <td>Milkboy Philly, Philadelphia, PA, US</td>
          </tr>
          <tr>
            <td>Thursday 14 August 2014</td>
            <td>Rock and Roll Hotel, Washtington, DC, US</td>
          </tr>
          <tr>
            <td>Friday 15 August 2014</td>
            <td>Kent Feed and Grain, McGrawsville, IN, US</td>
          </tr>
        </tbody>
      </table>
    </article>
    <footer>
      <small>(c)2014 <strong>bchiatt<strong></small>
    </footer>
  </body>
</html>

